.button {
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  width: max-content;
  padding: 14px 18px;
  cursor: pointer;
  background-color: var(--white);
  color: var(--text-secondary);
  border: none;
  transition: all 0.2s ease-in-out;

  &.button-text {
    background-color: transparent;
    border: none;
  }

  &.button-outlined {
    background-color: transparent;
    border: 1px solid #c4c4c4;
  }

  &.button-contained {
    color: var(--white);
  }

  &.button-primary {
    background-color: var(--yellow-primary);
    color: var(--text-secondary);
  }

  &.button-secondary {
    background-color: var(--gray-secondary);
    color: var(--text-primary);
  }

  &.button-success {
    background-color: #2e7d32;
    color: var(--white);
  }

  &.button-error {
    background-color: #d32f2f;
    color: var(--white);
  }

  &.button-warning {
    background-color: #ed6c02;
    color: var(--white);
  }

  &.button-info {
    background-color: #0288d1;
    color: var(--white);
  }

  // === Hover states (optional) ===
  &:hover {
    opacity: 0.9;
  }
}

@media (max-width: 740px) {
  .button {
    padding-top: 2px;
    padding-right: 6px;
    padding-bottom: 2px;
    padding-left: 6px;
    border-radius: 39px;
    border-width: 1px;
    font-size: 10px;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .button {
    padding: 14px 18px;
    font-size: 14px;
    height: auto;
  }
}
