.notfound {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  padding: 0px 15px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-404 {
    height: 150px;
    line-height: 150px;
    margin-bottom: 25px;
  }
  &-status {
    font-size: 186px;
    font-weight: 900;
    margin: 0px;
    text-transform: uppercase;
    background: url('@/assets/images/background_cover.png');
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
  }
  &-title {
    font-size: 26px;
  }
  &-description {
    font-size: 14px;
    font-weight: 500;
  }
  &-navigate {
    margin-top: 16px;
  }
}

@media (max-width: 740px) {
  .notfound {
    border-top: 1px solid var(--border-primary);
    text-align: center;
    &-status {
      font-size: 120px;
    }
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .notfound {
    border-top: 1px solid var(--border-primary);
    text-align: center;
    &-status {
      font-size: 120px;
    }
  }
}
