.container {
  max-width: 1152px;
  width: 100%;
  margin: 0 auto;
}

.relative {
  position: relative;
}
.rounded-lg {
  border-radius: 33px;
}

.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.h-full {
  height: 100%;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.font-bold {
  font-weight: 600;
}

@media (max-width: 740px) {
  .container {
    padding: 0 24px;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .row {
    margin: 0 -4px;
  }
  .row-sm {
    display: flex;
  }

  .container {
    padding: 0 24px;
  }
  .justify-center-md {
    justify-content: center;
  }
  .items-center-md {
    align-items: center;
  }
  .items-start-md {
    align-items: start;
  }
  .text-center-md {
    text-align: center;
  }
}
