:root {
  --white: #fff;
  --black: #000;
  --yellow-primary: #fbb03b;
  --yellow-secondary: #fff3df;
  --red-primary: #ff0000;
  --text-secondary: #333333;
  --text-light: #a8a8a8;
  --border-primary: #c4c4c4;
  --radius-lg: 24px;
  --background-secondary: #f6f6f6;
  --warning: #f44366;
}
