.header-banner {
  color: var(--white);
  position: relative;
  background-image: url("@/assets/images/Fashion.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  &-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }
  &-main {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &-content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
  }
  &-main header {
    height: 46px;
  }
  &-title {
    font-size: 72px;
    font-weight: 700;
    line-height: 101%;
  }
  &-title .text-primary {
    color: var(--yellow-primary);
  }
}

.banner-container {
  padding-left: 96px;
}

.button-arrow {
  width: 36px;
  height: 36px;
  background-color: var(--yellow-primary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  margin-right: 20px;
}
.icon-arrow {
  background-image: url("@assets/icons/arrow-right-icon.svg");
  width: 20px;
  height: 17px;
  background-repeat: no-repeat;
  background-size: cover;
}
.button-shop {
  cursor: pointer;
  margin-top: 36px;

  span {
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    color: var(--white);
  }
}

.pill {
  &-container {
    position: absolute;
    bottom: 0;
    background-color: #fff;
    border-top-right-radius: 74px;
    display: flex;
    color: var(--black);
    padding-left: calc((100vw - 1152px) / 2);
    padding-top: 36px;
    padding-bottom: 24px;
    padding-right: 80px;
  }
  &-list {
    display: flex;
    height: 63px;
    margin-left: 90px;
    gap: 35px;
  }
  &-item {
    gap: 16px;
  }

  &-icon-background {
    width: 36px;
    height: 36px;
    border-radius: 8px;
    background-color: var(--yellow-secondary);
  }
  &-icon {
    background-image: var(--bg-url);
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &-item-title {
    font-size: 14px;
    font-weight: 700;
    color: var(--black);
  }
  &-item-desc {
    font-size: 12px;
    color: var(--text-light);
  }
  &-content {
    width: 180px;
  }
  &-container-mobile {
    background-color: #fff;
    display: flex;
    width: 100%;
    color: var(--black);
    display: none;

    .pill-list {
      margin: 0;
      width: 100%;
    }
  }
}

.section-banner {
  padding: 38px 24px;
}

.banner {
  &-item-image {
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-size: cover;
    height: 359px;
  }
  &-item-content {
    position: absolute;
    left: 40px;
    max-width: 50%;
    bottom: 52px;
  }
  &-item-title {
    font-weight: 400;
    font-size: 24px;
    color: var(--white);
    margin-bottom: 32px;
    margin-top: 8px;
  }
  &-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333333;
    opacity: 0.5;
  }
}

.section-choosing {
  padding: 64px 24px;
  background-color: var(--background-secondary);
  .section-title {
    margin-bottom: 38px;
  }
}

.choosing {
  &-list {
    margin-top: 48px;
    display: flex;
  }
  &-icon {
    fill: var(--black);
  }
  &-icon-container {
    margin-bottom: 24px;
    width: 64px;
    height: 64px;
    border-radius: 8px;
    background-color: var(--white);
    &:hover {
      .choosing-icon {
        fill: var(--yellow-primary);
      }
    }
  }

  &-item-title {
    font-weight: 700;
    font-size: 16px;
    color: var(--text-secondary);
    margin-bottom: 16px;
    cursor: pointer;
    &:hover {
      color: var(--yellow-primary);
    }
  }

  &-item-desc {
    font-weight: 400;
    font-size: 14px;
    color: var(--text-light);
  }
  &-icon {
    background-image: var(--default-icon);
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.selected {
  &-list {
    gap: 16px;
  }

  &-section {
    padding: 48px 24px 96px 24px;
  }

  &-header {
    margin-bottom: 26px;
  }
}

.section-title {
  font-weight: 300;
  font-size: 32px;
  color: var(--text-secondary);
}

@media (max-width: 740px) {
  .section-title {
    font-size: 18px;
  }
  .selected {
    &-section {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    &-list {
      flex-wrap: wrap;
    }
    &-header {
      margin-bottom: 16px;
    }
  }

  .section-choosing {
    padding-right: 0;
    padding-left: 0;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .choosing {
    &-item-title {
      margin-bottom: 8px;
    }
    &-list {
      li {
        display: flex;
        gap: 16px;
      }
    }
    &-content {
      display: flex;
      flex: 1;
      margin-left: 16px;
    }
    &-icon-container {
      margin-bottom: 0;
    }
    &-item-desc {
      font-size: 12px;
    }
    &-item-desc {
      font-size: 10px;
    }
    &-content,
    &-list {
      flex-direction: column;
    }
  }
  .section-banner {
    padding-left: 0;
    padding-right: 0;
    padding: 20px 0;
  }

  .banner {
    &-item-image {
      height: 225px;
      background-position: center;
    }
    &-item-title {
      font-size: 14px;
      margin-bottom: 8px;
    }
    &-item-content {
      left: 16px;
      max-width: 60%;
    }
    &-item-button {
      font-size: 10px;
      width: max-content;
    }

    &-list {
      flex-wrap: wrap;
      &-item:first-child {
        flex: 0 0 100%;
      }
      &-item:not:first-child {
        flex: 0 0 50%;
      }
    }
  }

  .section-banner {
    padding-left: 0;
    padding-right: 0;
    padding: 20px 0;
  }

  .banner {
    &-item-image {
      height: 225px;
      background-position: center;
    }
    &-item-title {
      font-size: 14px;
      margin-bottom: 8px;
    }
    &-item-content {
      left: 16px;
      max-width: 60%;
    }
    &-item-button {
      font-size: 10px;
      width: max-content;
    }

    &-list {
      flex-wrap: wrap;
      &-item:first-child {
        flex: 0 0 100%;
      }
      &-item:not:first-child {
        flex: 0 0 50%;
      }
    }
  }

  .header-banner {
    background-image: url("@/assets/images/Fashion-home-image92.png");
    &-title {
      font-size: 48px;
    }
  }
  .button-arrow {
    width: 32px;
    height: 32px;
  }
  .pill {
    &-container {
      display: none;
      width: 100%;
      border-radius: 0;
      height: auto;
    }
    &-list {
      margin: 0;
      padding: 20px 24px;
      height: auto;
      min-width: auto;
      width: 100%;
      flex-direction: column;
    }
    &-container-mobile {
      display: block;
    }
  }
  .button-shop {
    span {
      font-size: 14px;
    }
  }
  .banner-container {
    padding-left: 24px;
  }
  .selected-section,
  .section-choosing,
  .section-banner {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .selected-section,
  .section-choosing,
  .section-banner {
    padding-right: 0;
    padding-left: 0;
  }
  .section-title {
    font-size: 32px;
  }
  .banner {
    &-item-image {
      height: 359px;
      background-position: center;
    }
    &-item-title {
      font-size: 24px;
    }
  }

  .header-banner {
    background-image: url("@/assets/images/Fashion1.png");
    height: 930px;
    &-content {
      top: 240px;
      transform: none;
    }
    &-title {
      font-size: 72px;
      padding-left: 16px;
    }
  }

  .pill-container {
    display: block;
    max-width: 443px;
    width: 100%;
    border-top-right-radius: 64px;
    height: unset;
    padding: 40px 40px 48px 40px;

    &-list {
      margin-left: 0;
      flex-direction: column;
      min-width: auto;
      height: auto;
      gap: 20px;
      padding-right: 0;
    }
    &-mobile {
      display: none;
    }
  }
  .pill-list {
    flex-direction: column;
    height: auto;
    margin-left: 0;
  }
  .banner-container {
    padding-left: 24px;
  }

  .button-shop {
    padding-left: 16px;
    margin-top: 24px;
    span {
      font-size: 20px;
    }
  }
}
